a {
  color: inherit;
  text-decoration: none;
}

.widget-badge {
  color: #FFF;
  position: relative;
  bottom: 15px;
  right: 3px;
}

.navbar_link-container {
  color: white;
  margin-left: -8%;
  display: flex;
  gap: 20px;
}